.navbar .navbar-header .logo {
    position: absolute;
    background: #fff;
    width: 120px;
    height: 70px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 1px 3px #aeadad
}

.navbar .navbar-header .logo img {
    width: 80px;
    margin-left: 15px;
    margin-top: 10px
}

.navbar .navbar-collapse {
    margin-left: 140px;
    color: #333;

}

.fa-sign-out {
    font-size: 1.3em
}

.fa-sign-out:before {
    content: "\f08b"
}

.navbar .navbar-text.version-alert, .navbar .navbar-text.roles-alert {
    background: gold;
    color: black;
    margin: 10px 0px;
    margin-left: 10px;
    padding: 0 10px;
    font-size: 12px;
    line-height: 30px;
    font-weight: bold;
    border-radius: 4px
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175)
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
