<div class="form-group row">
    <label for="id-input" class="col-md-1 col-form-label">Name</label>
    <div class="col-md-2">
        <input class="form-control" value="{{.book.Name}}" id="name-input" name="name">
    </div>
</div>
<div class="form-group row">
    <label for="id-input" class="col-md-1 col-form-label">Quantity</label>
    <div class="col-md-2">
        <input class="form-control" value="{{.book.Quantity}}" id="name-input" name="quantity">
    </div>
</div>

<button type="submit" class="btn btn-primary">Save</button>
<a href='{{urlfor "BooksController.Index"}}'>
    <button type="button" class="btn btn-primary">Cancel</button>
</a>
