{{template "bookscontroller/_flash_data.html" .}}

<h2>Books</h2>

<table class="table">
    <tr>
        <td class="long-cell-header"><b>Name</b></td>
        <td class="long-cell-header"><b>Quantity</b></td>
        <td class="long-cell-header"><b>Actions</b></td>
    </tr>
    {{ range .books }}
        <tr>
            <td>
                <div class="word-wrap-cell">{{.Name}}</div>
            </td>
            <td>
                <div class="word-wrap-cell">{{.Quantity}}</div>
            </td>
            <td>
                <a href='{{urlfor "BooksController.Show" "id" .ID}}'>
                    <button type="button" class="btn btn-primary">Show</button>
                </a>
                <a href='{{urlfor "BooksController.Edit" "id" .ID}}'>
                    <button type="button" class="btn btn-info">Edit</button>
                </a>
                <form action='{{urlfor "BooksController.Destroy" "id" .ID}}'
                      method="POST"
                      onsubmit="return confirm('Are you sure you want to delete the book?');"
                      style="display: inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    {{ end }}
</table>
<a href='{{urlfor "BooksController.New"}}'>
    <button type="button" class="btn btn-primary">Add Book</button>
</a>
